.header{
    display: flex;
    flex-direction: column;
    padding: 1em;
    >h1{
        color:#000000;
        font-weight: 900;
        align-self: flex-start;
    }
    span{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        p{
            display: flex;
            align-items: center;
            a{
                font-size: '5px' ;
                &:nth-child(1){
                    color: #B0BF24;
                }
            }
        }
        >.share{
            background-color: #FFFFFF;
            padding: .5em;
            border-radius: 8px;
        }
    }
}

.home {
  background-color: #f5f5f5;
  width: 100%;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30.5rem, 0.5fr));
  grid-template-rows: repeat(auto-fit);
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
}
